gunicorn==19.9.0
Flask==2.1.0
ipykernel==5.1.2
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
numpy
numpydoc
pandas
path.py==12.0.1
prettytable==0.7.2
py
pyparsing==2.4.2
pyreadline==2.1
requests
scikit-learn
sklearn
